:root {
    --purple: #5d00ff;
    --white: #ffffff;
    --black: #000000;
}

body {
    background: var(--bg);
}

* {
    color: var(--fontColor);
    font-family: 'Helvetica';
}

.dark-theme {
    --fontColor: var(--purple);
    --bg: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--purple);
}

.light-theme {
    --fontColor: var(--black);
    --bg: var(--purple);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

.btn:focus {
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}