:root {
    --purple: #843cff;
    --white: #ffffff;
    --black: #000000;
}

body {
    background: var(--bg);
    text-align: center;
}

* {
    color: var(--fontColor);
    font-family: 'Helvetica';
}

.dark-theme {
    --fontColor: var(--purple);
    --bg: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--purple);
}

.light-theme {
    --fontColor: var(--black);
    --bg: var(--purple);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

#lights {
    position: fixed;
    left: 92%;
    top: 5%;
    border-radius: 20px;
    height: 60px;
    width: 60px;
}

button {
    cursor: pointer;
    font-size: 16px;
    background: var(--bg);
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

img {
    width: 500px;
    height: 300px;
    padding: 10px;
}

#singer{
    width: 250px;
    height: 200px;
}

.name{
    font-style: italic;
}

.topics {
    font-style: italic;
}

#backToTop {
    position: fixed;
    bottom: 20px;
    border-radius: 20px;
    left: 90%;
}

.time {
    right: 85%;
    top: 50px;
    position: absolute;
}